 body{
    background-color:papayawhip;
    height: 100vh;
    user-select: none;
    color: #1b1b1b;
    font-family: poppins; 
    
}
h2{
    font-size: 48px; 
    font-family: poppins; 
    padding-left: 8vw;
}
.logo{
   color: #1b1b1b; 
   font-family:Comforter Brush;
   font-size: 88px; 
   text-decoration:none; 
   text-align: center;
   
}
.nav-link :hover{
    color: #000;
}

@media only screen and (max-width: 768px) {
    
    h2{
        font-size:28px ;
    }
    p{
        font-size: 10px;
    }
}

 p{
    color: #1b1b1b;
}
.about{
    margin-top: 18vh;
    margin-bottom: 120px;
}
.section-heading{
    padding-left: 8vw;
}
.navbar{
    color: #1b1b1b;
}

.nav-link{
color: #1b1b1b;
}

.carousel-inner{
    color: #000;
}
footer{
    height: 30vh;
    background-color:peachpuff;
}