 body{
    background-color:whitesmoke;
    height: 100vh;
    user-select: none;
    
}
h2{
    font-size: 48px; 
    font-family: poppins; 
    padding-left: 8vw;
}
.logo{
   color: #1b1b1b; 
   font-family:Comforter Brush;
   font-size: 88px; 
   text-decoration:none; 
   text-align: center;
   
}
a:hover{
    color: #000;
}

.nav-item{
    text-align: center;
}

@media only screen and (max-width: 768px) {
    
    h2{
        font-size:12px ;
    }
    
  }


 
nav{
    color: #1b1b1b;
}

.li .a{
   font-size: 30px;
   font-family: poppins;

}
p{
    color: #1b1b1b;
}
.about{
    margin-top: 18vh;
    margin-bottom: 40vh;
}

