 body{
    background-color:whitesmoke;
    height: 100vh;
    user-select: none;
    
}
h2{
    font-size: 48px; 
    font-family: poppins; 
    padding-left: 8vw;
}
.nav-link{
   color: #1b1b1b; 
   font-family:Comforter Brush;
   font-size: 88px; 
   text-decoration:none; 
   text-align: center;
   
}
a:hover{
    color: #000;
}

@media only screen and (max-width: 768px) {
    
    h2{
        font-size:20px ;
        padding-top:9vh;
    }
    
  }


 
nav{
    color: #1b1b1b;
}

.li{
   font-size: 30px;
   font-family: poppins;

}
p{
    color: #1b1b1b;
}